h1 {
  text-align: center;
}

.h6 {
  font-weight: bold;
  text-align: center;
}

.eduIcon {
    background: url('../icons/education.svg');
    height: 20px;
    width: 20px;
    display: block;
    float: right;
    position: relative;
    top: 20px;
    left: -150px;
    cursor: pointer; /* Add a pointer on hover */
}

.questionIcon {
    background: url('../icons/question.svg');
    height: 15px;
    width: 15px;
    display: block;
    margin-left: 10px
}

 .tooltip {
    position: absolute;
    background: #646464;
    border-radius:4px;
    padding: 6px 12px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 0px 1px 1px #000;
    color: #ffc64a;
  }
  .tooltip:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #646464;
    position:absolute;
    bottom:-5px;
    left:5px;
  }

.dropdown {
  position: relative;
  margin: auto;
  width: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
}

.bottom15, h1, h6{
   padding-bottom: 1.5rem;
}

.right4 {
  margin-right:4px;
}

.right10 {
  margin-right:10px;
}

.left2 {
  margin-left:2px;
}

.alignRadioButton {
  margin-top: 7.2px;
  margin-bottom: 6.8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left, .right {
  display: table-cell;
  width: 50%;
}

.left .table, .right .table {
  margin: auto;
}

.line {
    position: relative;
    display: inline-block;
    top: -7.5px;
    height: 20px;
    width: 0.5px;
    background: #3264fe;
    margin: 0;
    z-index: 1;
}

.lineTick {
    position: relative;
    top: -22.5px;
    left: -17px;
    font-size: 10px;
    color: #3264fe;
    width: 50px;
    z-index: 1;
}

.slider-track{
    height: 5px;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    width: 50%;
}

.dataFrames {
  width: 100%;
  display: table;
  border-spacing: 7.5px;
}

input[type='range']{
    --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
    width: 25%;
    margin-top: -7px;
    z-index: 5;
}

input[type='range']::-webkit-slider-runnable-track {
    --webkit-appearance: none;
    height: 5px;
}

input[type='range']::-moz-range-track{
    --moz-appearance: none;
    height: 5px;
}

input[type='range']::-ms-track{
    appearance: none;
    height: 5px;
}

input[type='range']::-webkit-slider-thumb{
    --webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: 2px;
}

input[type='range']::-moz-range-thumb{
    border: 0;
    height: 1.0em;
    width: 1.0em;
    margin-bottom: 25px;
    background-color: #3264fe;
    border-radius: 10px;
    pointer-events: auto;
}

input[type='range']::-ms-thumb{
    --webkit-appearance: none;
    appearance: none;
    border: 0;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

input[type='range']:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}