/* headers */

h1 {
  text-align: center;
}

.h6 {
  font-weight: bold;
  text-align: center;
}

caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
}

/* form spacing */

.bottom15, h1, h6{
   padding-bottom: 1.5rem;
}

.right4 {
  margin-right:4px;
}

.right10 {
  margin-right:10px;
}

.left2 {
  margin-left:2px;
}

.form-group {
  margin-bottom: 1rem;
}

.alignRadioButton {
  margin-top: 7.2px;
  margin-bottom: 6.8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Popover and icons */

.questionIcon {
    background: url('../icons/question.svg');
    height: 15px;
    width: 15px;
    display: block;
    margin-top: 6px;
}

.popover {
   border: 1px #0d6efd solid;
}

.popover-header {
   color: black;
}

.popover>.popover-arrow {
    border-width: 1px;
}

.bs-popover-end>.popover-arrow::before{
    border-left-color: #0d6efd;
    border-right-color: #0d6efd;
}

.bs-popover-bottom>.popover-arrow::before{
    border-bottom-color: #0d6efd;
}

.bs-popover-top>.popover-arrow::before{
    border-top-color: #0d6efd;
}

/* Grouping functions */


/* Data frama and table */

.dataFrames {
  width: 100%;
  display: table;
  border-spacing: 7.5px;
}

.left, .right {
  display: table-cell;
  width: 50%;
}

.left .table, .right .table {
  margin: auto;
}

/* Slider, tack and ticks */

.slider-track{
    height: 5px;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    width: 50%;
    z-index: 1;
}

.line {
    position: relative;
    display: inline-block;
    top: -7.5px;
    height: 20px;
    width: 0.5px;
    background: #3264fe;
    margin: 0;
    z-index: 1;
}

.lineTick {
    position: relative;
    top: -22.5px;
    left: -17px;
    font-size: 10px;
    color: #3264fe;
    width: 50px;
    z-index: 1;
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
    width: 25%;
    margin-top: -9.5px;
    z-index: 0;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: transparent;
    height: 5px;
}

input[type='range']::-moz-range-track{
    -moz-appearance: none;
    background-color: transparent;
    height: 5px;
}

input[type='range']::-ms-track{
    appearance: none;
    background-color: transparent;
    height: 5px;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.0em;
    width: 1.0em;
    background-color: #3264fe;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 0;
}

input[type='range']::-moz-range-thumb{
    border: 0;
    height: 1.0em;
    width: 1.0em;
    margin-bottom: 25px;
    background-color: #3264fe;
    border-radius: 10px;
    pointer-events: auto;
    z-index: 0;
}

input[type='range']::-ms-thumb{
    --webkit-appearance: none;
    appearance: none;
    border: 0;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
    z-index: 0;
}

input[type='range']:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}