body {
 overflow-x: hidden;
}

/* headers */

h1, h2, h4, h5, .link {
  text-align: center;
}

.h6 {
  font-weight: bold;
  text-align: center;
}

caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
}

/* Loading */

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media print {
    body * {
       visibility: hidden !important;
    }
    #results, #results * {
       visibility: visible !important;
    }
    #results {
       position: absolute !important;
       left: 0 !important;
       top: 0 !important;
    }
}

/* form spacing */

.top15 {
  padding-top: 1.5rem;
}

.bottom15, h1 {
   padding-bottom: 1.5rem;
}

.right4 {
  margin-right:4px;
}

.right10 {
  margin-right:10px;
}

.left2 {
  margin-left:2px;
}

.form-group {
  margin-bottom: 1rem;
}

.alignRadioButton {
  margin-top: 7.2px;
  margin-bottom: 6.8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Popover and icons */

.extendIcon {
    background: url('../icons/add-solid.svg');
    margin-top: 11px;
    margin-right: 10px;
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.removeIcon {
    background: url('../icons/minus-solid.svg');
    margin-top: 11px;
    margin-right: 10px;
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.questionIcon {
    background: url('../icons/question.svg');
    height: 15px;
    width: 15px;
    margin-top: 6px;
}

.documentationButton {
    background: url('../icons/info-empty.svg');
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    margin-left: 60px;
    cursor: pointer;
}

.questionIcon, .extendIcon {
    display: block;
}

.popover {
   border: 1px #0d6efd solid;
}

.popover-header {
   color: black;
}

.popover>.popover-arrow {
    border-width: 1px;
}

.bs-popover-left>.popover-arrow::before{
    border-color: #0d6efd;
}

.bs-popover-end>.popover-arrow::before{
    border-left-color: #0d6efd;
    border-right-color: #0d6efd;
}

.bs-popover-bottom>.popover-arrow::before{
    border-bottom-color: #0d6efd;
}

.bs-popover-top>.popover-arrow::before{
    border-top-color: #0d6efd;
}

/* Grouping functions */

.text-mandatory {
    color: #dc3545;
}

.excludingSecondCutter {
    background-color: #ffc6c4;
}


/* Data frama and table */

.tablePositioning {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.tableCell {
  text-align: center;
  vertical-align: middle;
  display: block;
}

.dataFrames {
  width: 100%;
  display: table;
  border-spacing: 7.5px;
}

.left, .right {
  display: table-cell;
  width: 50%;
}

.left .table, .right .table {
  margin: auto;
}

/* Slider, tack and ticks */

.slider-track{
    height: 5px;
    margin: auto;
    border-radius: 5px;
    margin-top: 25px;
    width: 100%;
    z-index: 1;
}

.line {
    position: relative;
    display: inline-block;
    top: -7.5px;
    height: 20px;
    width: 0.5px;
    background: #3264fe;
    margin: 0;
    z-index: 1;
}

.lineTick {
    position: relative;
    top: -22.5px;
    left: -17px;
    font-size: 10px;
    color: #3264fe;
    width: 50px;
    z-index: 1;
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
    width: 18%;
    margin-top: -9.5px;
    z-index: 0;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: transparent;
    height: 5px;
}

input[type='range']::-moz-range-track{
    -moz-appearance: none;
    background-color: transparent;
    height: 5px;
}

input[type='range']::-ms-track{
    appearance: none;
    background-color: transparent;
    height: 5px;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 0.8em;
    width: 0.8em;
    background-color: #3264fe;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 0;
}

input[type='range']::-moz-range-thumb{
    border: 0;
    height: 0.8em;
    width: 0.8em;
    margin-bottom: 25px;
    background-color: #3264fe;
    border-radius: 10px;
    pointer-events: auto;
    z-index: 0;
}

input[type='range']::-ms-thumb{
    --webkit-appearance: none;
    appearance: none;
    border: 0;
    height: 0.8em;
    width: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
    z-index: 0;
}

input[type='range']:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}

/* Explain Section */

.explainButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

#tableContentBody > li > a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
#tableContentBody > li > a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.imagesubtitle{
    text-align: center;
    font-size: 0.6rem
}

.formula{
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  width: 100%;
}

.All {
  display: block;
  margin: auto;
  width: 60%;
  text-align: center;
}

.eq-c {
	 text-align: center;
	 padding: 0em 0em;
	 font-size: 0.8rem;
    font-style: italic;
}
 .eq-c .radical {
	 font-size: 3.6rem;
	 vertical-align: middle;
	 margin: 0;
	 padding: 0;
	 right: -0.8rem;
}
 .eq-c .radicand {
	 top: 0.4rem;
	 padding: 0 0.5rem;
	 border-top: 0.2rem black solid;
}
 .eq-c sup {
	 font-size: 75%;
}

.fraction {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
}
.fraction > span {
	 display: block;
	 padding-top: 0.15em;
}
.fraction span.fdn {
    border-top: thin solid black;
}
.fraction span.bar {
	 display: none;
}